<!--  轻博客：程序员盒子网站（www.coderutil.com）旗下一款轻博客系统  -->
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/css/ref/common.css" rel="stylesheet" type="text/css" />
    <link href="/css/admin/console.css" rel="stylesheet" type="text/css"/>

    <style>
        button {
            position: relative;
            margin: 0px 10px;
            padding: 15px 50px;
            border: none;
            background-color:whitesmoke;
            border: 5px;
            font-size: 15px;
            font-weight: 500
        }
    </style>
</head>

<body>
<center>

    <p style="margin-top: 200px"><h1 style="font-size: 20px; color: #acacac">基于WebSocket的在线聊天室管理端</h1></p>
    <p style="margin-top: 50px">
        <a href="/admin/user-manage"><button>管理帐号</button></a>
        <a href="/admin/mess-manage"><button>消息管理</button></a>
    </p>
</center>
</body>

</html>